* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background: lightgray;
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  background: blue;
  color: white;
  border-color: white;
  cursor: pointer;
}

.timer-display {
  align-self: flex-end;
  padding: 5px 5px 0 0;
  margin: 5px 20px 0 0;
}

.timer {
  text-align: right;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  background: yellow;
  width: fit-content;
  border: 2px solid red;
  padding: 5px 10px;
  border-radius: 50px;
}

.initial-display {
  background-color: darkgray;
  border: solid black;
  border-radius: 7.5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 80%;
  padding: 10px;
}

.initial-title {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.initial-text {
  font-size: 1.1rem;
  margin-bottom: 25px;
  text-align: left;
  width: 90%;
}

.start-btn {
  font-size: 1.5rem;
  border-width: 2px;
}

.question-display {
  background-color: darkgray;
  border: solid black;
  border-radius: 7.5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 90%;
  padding: 10px 0 10px 20px;
}

.question {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.answers-display {
  display: flex;
  flex-direction: column;
}

.choices-btn {
  font-size: 1.15rem;
  border-width: 1.5px;
  border-radius: 7.5px;
  text-align: left;
}

.results-display {
  background-color: darkgray;
  border: solid black;
  border-radius: 7.5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 75%;
  padding: 10px;
}

.results-title {
  font-size: 3rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.results-text {
  color: red;
  font-size: 1.75rem;
  margin-bottom: 15px;
  text-align: center;
}

.restart-btn,
.highscores-btn,
.quit-btn {
  font-size: 1.25rem;
  border-width: 2px;
}

.highscores-display {
  background-color: darkgray;
  border: solid black;
  border-radius: 7.5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: 65%;
  padding: 10px;
  margin-bottom: 20px;
}

.highscores-title {
  font-size: 3rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.highscores-text {
  align-self: center;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.back-btn {
  font-size: 1.25rem;
  border-width: 2px;
}

.hide {
  display: none;
}